PORT=3000
MONGODB_URI=mongodb+srv://niyeshkoirala:<Niyesh@2062>@cluster0.0nve8sx.mongodb.net/chess-with-computer?retryWrites=true&w=majority&appName=Cluster0
SESSION_SECRET=change-this-before-deploy
STOCKFISH_PATH=/usr/games/stockfish
COOKIE_SECURE=false
